In [2]:
import pandas as pd
import math
import statistics

In [3]:
df=pd.read_excel("crowd computing.xlsx")
df

    number of candies  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0                 120         NaN         NaN         NaN         NaN
1                 123         NaN         NaN         NaN         NaN
2                 123         NaN         NaN         NaN         NaN
3                 130         NaN         NaN         NaN         NaN
4                 112         NaN         NaN         NaN         NaN
..                ...         ...         ...         ...         ...
70               1200         NaN         NaN         NaN         NaN
71               1300         NaN         NaN         NaN         NaN
72                928         NaN         NaN         NaN         NaN
73               1000         NaN         NaN         NaN         NaN
74                 92         NaN         NaN         NaN         NaN

[75 rows x 5 columns]

In [4]:
df["number of candies"]

0      120
1      123
2      123
3      130
4      112
      ...
70    1200
71    1300
72     928
73    1000
74      92
Name: number of candies, Length: 75, dtype: int64

In [13]:
number_list=list(df["number of candies"])

In [14]:
number_list.sort()

In [17]:
mean=statistics.mean(number_list)
mean

407.0933333333333

In [18]:
median=statistics.median(number_list)
median

340

In [19]:
mode=statistics.mode(number_list)
mode

321

In [22]:
trim=math.floor(len(number_list)*0.1)
trim

7

In [23]:
trim_list=number_list[trim:len(number_list)-trim]
trim_list

[189,
 190,
 193,
 200,
 201,
 201,
 210,
 214,
 218,
 223,
 223,
 232,
 234,
 234,
 238,
 243,
 247,
 250,
 261,
 273,
 280,
 289,
 290,
 300,
 311,
 321,
 321,
 321,
 334,
 340,
 340,
 342,
 345,
 345,
 356,
 376,
 380,
 390,
 392,
 400,
 450,
 455,
 456,
 456,
 459,
 480,
 497,
 500,
 500,
 540,
 542,
 543,
 546,
 560,
 564,
 567,
 567,
 567,
 667,
 670,
 670]

In [26]:
trim_mean=statistics.mean(trim_list)
trim_mean

368.9016393442623

In [24]:
trim_median=statistics.median(trim_list)
trim_median

340

In [25]:
mode=statistics.mode(number_list)
mode

321