In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [ ]:
df=pd.read_csv('/content/online_shoppers_intention_process.csv')
df

,Administrative,Administrative_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,Revenue
0,0.0,0.0,1.0,0.000000,0.003112,0.025156,False
1,0.0,0.0,2.0,64.000000,0.000000,0.100000,False
2,0.0,0.0,1.0,0.000000,0.003112,0.025156,False
3,0.0,0.0,2.0,2.666667,0.003112,0.025156,False
4,0.0,0.0,10.0,627.500000,0.020000,0.050000,False
...,...,...,...,...,...,...,...
12325,3.0,145.0,53.0,1783.791667,0.007143,0.029031,False
12326,0.0,0.0,5.0,465.750000,0.000000,0.021333,False
12327,0.0,0.0,6.0,184.250000,0.003112,0.086667,False
12328,4.0,75.0,15.0,346.000000,0.000000,0.021053,False
12329,0.0,0.0,3.0,21.250000,0.000000,0.066667,False

In [ ]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
Revenue                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  float64
 1   Administrative_Duration  12330 non-null  float64
 2   ProductRelated           12330 non-null  float64
 3   ProductRelated_Duration  12330 non-null  float64
 4   BounceRates              12330 non-null  float64
 5   ExitRates                12330 non-null  float64
 6   Revenue                  12330 non-null  bool
dtypes: bool(1), float64(6)
memory usage: 590.1 KB

In [ ]:
df.describe()

,Administrative,Administrative_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,1.903893,35.525022,21.372993,772.609124,0.006033,0.029462
std,2.553303,55.705377,18.521644,764.981533,0.009126,0.022181
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286
50%,1.000000,7.500000,18.000000,598.905357,0.003112,0.025154
75%,3.000000,54.759091,29.000000,1109.195833,0.008333,0.037647
max,10.000000,233.083333,84.000000,3382.287999,0.041945,0.103333

In [ ]:
x = df.drop(['Revenue'], axis=1)
x

,Administrative,Administrative_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates
0,0.0,0.0,1.0,0.000000,0.003112,0.025156
1,0.0,0.0,2.0,64.000000,0.000000,0.100000
2,0.0,0.0,1.0,0.000000,0.003112,0.025156
3,0.0,0.0,2.0,2.666667,0.003112,0.025156
4,0.0,0.0,10.0,627.500000,0.020000,0.050000
...,...,...,...,...,...,...
12325,3.0,145.0,53.0,1783.791667,0.007143,0.029031
12326,0.0,0.0,5.0,465.750000,0.000000,0.021333
12327,0.0,0.0,6.0,184.250000,0.003112,0.086667
12328,4.0,75.0,15.0,346.000000,0.000000,0.021053
12329,0.0,0.0,3.0,21.250000,0.000000,0.066667

In [ ]:
y=df['Revenue']
y

0        False
1        False
2        False
3        False
4        False
         ...
12325    False
12326    False
12327    False
12328    False
12329    False
Name: Revenue, Length: 12330, dtype: bool

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
clf = LogisticRegression()

In [ ]:
clf.fit(X_train, y_train)

LogisticRegression()

In [ ]:
pred = clf.predict(X_test)

In [ ]:
print ('Accuracy {0}'.format(clf.score(X_test, y_test)))

Accuracy 0.8329278183292782

In [ ]:
print(classification_report(y_test, pred,))

              precision    recall  f1-score   support

       False       0.83      1.00      0.91      2055
        True       0.00      0.00      0.00       411

    accuracy                           0.83      2466
   macro avg       0.42      0.50      0.45      2466
weighted avg       0.69      0.83      0.76      2466