In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("Demo.xlsx")
df

       Name  Marks  CGPI Quality of Assignment
0   Avinash     89   8.1                 Great
1    Bikram     78   7.4                  Good
2    Pravhu     10   9.2               Average
3    Madhav     25   7.7                  Poor
4      Jeet     89   4.6                 Great
5   Bhupesh     99   3.0                  Good
6   Kaushik     55   9.0               Average
7     Sandy     31   4.4                  Poor
8    Madhav     45   NaN                 Great
9      Jeet     77   7.7                  Good
10   Pravhu      9   2.0               Average
11     Jeet      8  10.0                  Poor

In [3]:
df.dtypes

Name                      object
Marks                      int64
CGPI                     float64
Quality of Assignment     object
dtype: object

In [4]:
 df["CGPI"].mode()

0    7.7
dtype: float64

In [8]:
x=df["CGPI"].median()
x

7.7

In [7]:
df["CGPI"].mean()

6.645454545454545

In [9]:
df.fillna(x)

       Name  Marks  CGPI Quality of Assignment
0   Avinash     89   8.1                 Great
1    Bikram     78   7.4                  Good
2    Pravhu     10   9.2               Average
3    Madhav     25   7.7                  Poor
4      Jeet     89   4.6                 Great
5   Bhupesh     99   3.0                  Good
6   Kaushik     55   9.0               Average
7     Sandy     31   4.4                  Poor
8    Madhav     45   7.7                 Great
9      Jeet     77   7.7                  Good
10   Pravhu      9   2.0               Average
11     Jeet      8  10.0                  Poor